#navigation-container{
    width: 300px;
    height: 100vh;
    background-color: #050505;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
}

#navigation-home{
    color: #fff;
    font-size: 22px;
    padding-top: 40px;
}

#navigation-description{
    color: #8e8b8e;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#navigation-portfolio-container{
    display: flex;
    flex-direction: column;
}

.navigation-link{
    color: #8e8b8e;
    font-size: 19px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.navigation-link:first-child{
    padding-top: 10px
}

.navigation-link:hover{
    color: #fff;
}

#navigation-bottom-container{
    display: flex;
    flex-direction: column;
    
    margin-top: auto;
}

#navigation-socials-container{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.nav-social-item{
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.nav-social-item:hover{
    cursor: pointer;
}

.nav-social-item:last-child{
    margin-right: 0;
}

.nav-social-item img{
    height: 100%;
    width: 100%;
}

.subnavigation-link{
    color: #8e8b8e;
    font-size: 16px;
    border-left: 2px solid #fff;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subnavigation-link:hover{
    color: #fff;
}

#navigation-copyright{
    color: #8e8b8e;
}

#content-container{
    padding: 50px 30px;
}